* {
	background-color: lightgray;
}

.header-title {
	text-align: center;
	padding: 50px;
}
h1 {
	font-size: 40px;
	font-family: 'Open Sans';
}

#img {
	text-align: center;
	padding: 50px;
	background-color: #fff;
}
#img-caption {
	background-color: #fff;
}
.time-line {
	width: 800px;
	padding: auto;
	margin: auto;
}

.tribute-order {
	text-align: left;
	padding: 24px 20px;
}
footer {
	text-align: center;
}
